<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style="margin:50px;">
    <h1>Recipe generator</h1>
    <p>You can go to image upload to identify your ingredients</p>
    <p>Or parse recipes and nutritional values of some foods</p>
    <a class="btn btn-dark my-4" href="upload/">Go to image upload</a>
    <a class="btn btn-dark my-4" href="food/">See foods nutritious values </a>
</body>
</html>